@font-face {
  font-family: 'Simpsons';
  src:url('../fonts/Simpsonfont.ttf');
}

*{
  font-family: 'Simpsons';
  border: 1px red dotted;
}

.selection-clouds{
  width: 100%;
  height: 100px;
  /* overflow: hidden; */
  /* position: absolute; */
}

.selection-clouds .instructions-img{
  width: 20vw;
  position: absolute;
  top: 6%;
  left: 75%;
  animation-name: instructions-img;
  animation-iteration-count: 0.5;
  animation-duration: 2s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

.selection-clouds .start-game-img{
  width: 10vw;
  transform: scaleX(-1);
  position: absolute;
  top: 0%;
  left: 3%;
  animation-name: start-game-img;
  animation-duration: 2s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes instructions-img {
  50%{width: 40vw; transform: translate(-75%, 25vh)}
}

@keyframes start-game-img {
  0%{top: 0%; left: 3%}
  100%{width: 40vw; top: 18%; left: 15%}
}

.selection-clouds h2{
  position: absolute;
  z-index: 1;
  animation: fade-in 3s;
  color: #FF69B4;
  text-shadow: 2px 2px black;

}

.selection-clouds .instructions-text{
  top: 40%;
  left: 57%;
  z-index: 5;
}

.selection-clouds .start-game-text{
  top: 27%;
  left: 25%;
}

@keyframes fade-in {
  0%{opacity: 0;}
  48%{opacity: 0;}
  50%{opacity: 0.5;}
  100%{opacity: 1;}
}

.homer-land #homergotchi{
  position: absolute;
  top: 18%;
  left: 23%;
  width: 30vw;
}

#woohoo-homer{
  z-index: 10;
  top: 60%;
  left: 70%;
  width: 30vw;
  position: absolute;

}

#donut-homer{
  z-index: 10;
  transform: scaleX(-1);
  top: 50%;
  left: 4%;
  position: absolute;
  width: 30vw;
}

.prancing-homer-land{
  position: absolute;
  width: 100%;
  height: 60%;
  overflow: hidden;
  bottom: 10%;
  /* z-index: -1; */
}

.prancing-homer-land #prancing-homer{
  width: 25vw;
  animation: prance 15s, flip 15s;
  position: absolute;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  left: -50%;
  bottom: 0;
  z-index: 3;
  overflow: hidden;
}

@keyframes prance {
  0%{left: -50%;}
  49.99%{left: 150%;}
  50%{left: 150%;}
  99.99%{left: -50%;}
  100%{left: -50%;}
}

@keyframes flip {
  0%{transform: scaleX(1);}
  48%{transform: scaleX(1);}
  50%{transform: scaleX(-1);}
  98%{transform: scaleX(-1);}
  100%{transform: scaleX(1);}
}

.stats{
  color: yellow;
  text-shadow: 2px 2px black;
  text-align: center;
}

.button{
  /* width: 2vw; */
  margin: 5vh auto;
}
.input-div{
  top: 10%;
  left: 30%;
  position: absolute;
  z-index; 10;
}

#name-button{
  color: #FF69B4;
  text-shadow: 2px 2px black;
  font-size: 5vh;
}

.button img{
  width: 10vw;
  margin: 0 auto;
  text-align: center;
  margin: 0 10vh;
}

.hungry-button{
  position: absolute;
  top: 60%

}

.hungry-button img{
  width: 8vw;
}

.bored-button{
  position: absolute;
  top: 80%;
  left: 80%;
}

.bored-button img{
  width: 8vw;
}

.sleepy-button{
  position: absolute;
  top: 48%;
  left: 48%;
}

.sleep-button img{
  width: 10vw
}

.button h3{
  height: 2vh;
  font-size: 4vh;
  text-align: center;
  color: yellow;
  text-shadow: 2px 2px black;
  margin: 0 0 10vh;
}

.homer-land h1{
  position: absolute;
  top: 30%;
  left: 30%;
  font-size: 10vh;
  text-align: left;
  display: none;
  color: #FF69B4;
  text-shadow: 2px 2px black;
}

body{
  background-image: url('../images/simpsons house.png');

  background-repeat: no-repeat;
  background-color: rgb(121, 111, 102);
  background-size: cover;
}

footer{
  font-size: 1vh;
  clear: both;
  position: absolute;
  bottom: 0;
}
